    <section id="main">
        <section class="wrap">
        <nav>
            <ul>
                <li><a href="{path='home/index'}">Home</a></li>
                <li><a href="{path='find-a-tournament/index'}">Find a Tournament</a></li>
                <li><a href="{path='post-a-tournament/index'}">Post a Tournament</a></li>
                <li><a href="{path='home/faq'}">FAQ</a></li>
                <li><a href="{path='home/about'}">About</a>
                    <ul>
                        <li><a href="{path='home/become-a-member'}">Become a Member</a></li>
                        <li><a href="{path='home/purpose'}">Purpose</a></li>
                        <li><a href="{path='home/golf-courses'}">Golf Courses</a></li>
                    </ul>
                </li>
                <li><a href="{path='blog/index'}">Blog</a></li>
                <li><a href="{path='home/contact-golf-tourneys'}">Contact Us</a></li>
            </ul>
        </nav>