{embed='includes/htmlHead'}
{embed='includes/header'}
{embed='includes/mainNav'}
{embed='includes/memberNav'}
           
            <section class="internal-main">
                <h1>Find a Tournament</h1>
                <div id="tourney-search">
                    <h2>Advanced Tournament Search</h2>
                    <form>
                        <ul>
                            <li>
                                <label for="date-range">Date Range</label>
                                <input class="small" name="date-range" id="date-range" type="text" placeholder="MM/DD/YY" /> to <input class="small" name="date-range" type="text" placeholder="MM/DD/YY" />
                            </li>
                            <li>
                                <label for="city">City</label>
                                <input class="small" name="city" id="city" type="text" />
                            </li>
                            <li>
                                <label for="state">State</label>
                                <select class="small" id="state" name="state">
                                    <option value="alabama">Alabama</option>
                                    <option value="alaska">Alaska</option>
                                    <option value="arizona">Arizona</option>
                                    <option value="california">California</option>
                                    <option value="connecticut">Connecticut</option>
                                </select>
                            </li>
                            <li>
                                <label for="golf-course">Golf Course</label>
                                <input class="medium" type="text" id="golf-course" name="golf-course" />
                            </li>
                            <li>
                                <label for="charity-name">Charity Name</label>
                                <input class="medium" type="text" id="charity-name" name="charity-name" />
                            </li>
                            <li>
                                <label for="tournament-name">Tournament Name</label>
                                <input class="medium" type="text" id="tournament-name" name="tournament-name" />
                            <li>
                            <li>
                                <input type="submit" value="SEARCH" class="form-button button submit-button"/>
                            </li>

                        </ul>
                        <div class="clear"></div>
                    </form>

                </div>   
                <div class="clear"></div>

                <section class="tourney-preview">
                    <div class="preview-detail">
                        <h3>TEE N' IT UP FOR TROOP AID CELEBRITY GOLF TOURNAMENT</h3>
                        <p>Monday, September 15, 2013 - 8:00AM</p>
                        <p>Five Oaks Golf and Country Club in Lebanon, TN</p>
                        <p><span>Registration Ends:</span> Saturday, September 13, 2014</p>
                        <p><span>Team Size:</span> 4 <span>Format:</span> Scramble <span>Registration Fee:</span> $255.00</p>
                    </div>
                    <div class="reg_closed">
                        <p>Online <br />Registration Closed</p>
                    </div>
                </section>
                <section class="tourney-preview">
                    <div class="preview-detail">
                        <h3>TEE N' IT UP FOR TROOP AID CELEBRITY GOLF TOURNAMENT</h3>
                        <p>Monday, September 15, 2013 - 8:00AM</p>
                        <p>Five Oaks Golf and Country Club in Lebanon, TN</p>
                        <p><span>Registration Ends:</span> Saturday, September 13, 2014</p>
                        <p><span>Team Size:</span> 4 <span>Format:</span> Scramble <span>Registration Fee:</span> $255.00</p>
                    </div>
                    <div class="reg_now form-button">
                        <p>Register Now</p>
                    </div>
                </section>
                <section class="tourney-preview">
                    <div class="preview-detail">
                        <h3>TEE N' IT UP FOR TROOP AID CELEBRITY GOLF TOURNAMENT</h3>
                        <p>Monday, September 15, 2013 - 8:00AM</p>
                        <p>Five Oaks Golf and Country Club in Lebanon, TN</p>
                        <p><span>Registration Ends:</span> Saturday, September 13, 2014</p>
                        <p><span>Team Size:</span> 4 <span>Format:</span> Scramble <span>Registration Fee:</span> $255.00</p>
                    </div>
                    <div class="reg_closed">
                        <p>Online <br />Registration Closed</p>
                    </div>
                </section>

                <section class="page_nav">
                    <a href="#" class="form-button">Next ></a>
                </section>
            </section>
            <div class="clear"></div>
        </section>
        </section>
    </section>

    {embed='includes/footer'}